:root {
    --primary: #34db71;
    --emergency: #12f4c7;
    --noemergency: #0899f9;
    --light: #EEE;
    --dark: #313154;
    --danger: #f44336;

    --shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    --emergency-glow: 0px 0px 20px rgba(18, 244, 199, 0.5);
    --noemergency-glow: 0px 0px 20px rgba(8, 153, 249, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}